<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateClientTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateClientLabel_id}" for="id" />
                    <h:inputText id="id" value="#{clientController.selected.id}" title="#{bundle.CreateClientTitle_id}" required="true" requiredMessage="#{bundle.CreateClientRequiredMessage_id}"/>
                    <h:outputLabel value="#{bundle.CreateClientLabel_name}" for="name" />
                    <h:inputText id="name" value="#{clientController.selected.name}" title="#{bundle.CreateClientTitle_name}" />
                    <h:outputLabel value="#{bundle.CreateClientLabel_identificationnumber}" for="identificationnumber" />
                    <h:inputText id="identificationnumber" value="#{clientController.selected.identificationnumber}" title="#{bundle.CreateClientTitle_identificationnumber}" />
                    <h:outputLabel value="#{bundle.CreateClientLabel_cellphone}" for="cellphone" />
                    <h:inputText id="cellphone" value="#{clientController.selected.cellphone}" title="#{bundle.CreateClientTitle_cellphone}" />
                    <h:outputLabel value="#{bundle.CreateClientLabel_address}" for="address" />
                    <h:inputText id="address" value="#{clientController.selected.address}" title="#{bundle.CreateClientTitle_address}" />
                </h:panelGrid>
                <br />
                <h:commandLink action="#{clientController.create}" value="#{bundle.CreateClientSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{clientController.prepareList}" value="#{bundle.CreateClientShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateClientIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
