<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateFilmTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateFilmLabel_id}" for="id" />
                    <h:inputText id="id" value="#{filmController.selected.id}" title="#{bundle.CreateFilmTitle_id}" required="true" requiredMessage="#{bundle.CreateFilmRequiredMessage_id}"/>
                    <h:outputLabel value="#{bundle.CreateFilmLabel_name}" for="name" />
                    <h:inputText id="name" value="#{filmController.selected.name}" title="#{bundle.CreateFilmTitle_name}" />
                </h:panelGrid>
                <br />
                <h:commandLink action="#{filmController.create}" value="#{bundle.CreateFilmSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{filmController.prepareList}" value="#{bundle.CreateFilmShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateFilmIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
