<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditFilmTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditFilmLabel_id}" for="id" />
                    <h:inputText id="id" value="#{filmController.selected.id}" title="#{bundle.EditFilmTitle_id}" required="true" requiredMessage="#{bundle.EditFilmRequiredMessage_id}"/>
                    <h:outputLabel value="#{bundle.EditFilmLabel_name}" for="name" />
                    <h:inputText id="name" value="#{filmController.selected.name}" title="#{bundle.EditFilmTitle_name}" />
                </h:panelGrid>
                <h:commandLink action="#{filmController.update}" value="#{bundle.EditFilmSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditFilmViewLink}"/>
                <br />
                <h:commandLink action="#{filmController.prepareList}" value="#{bundle.EditFilmShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditFilmIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
