<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListFilmTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListFilmEmpty}" rendered="#{filmController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{filmController.items.rowCount > 0}">
                    <h:outputText value="#{filmController.pagination.pageFirstItem + 1}..#{filmController.pagination.pageLastItem + 1}/#{filmController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{filmController.previous}" value="#{bundle.Previous} #{filmController.pagination.pageSize}" rendered="#{filmController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{filmController.next}" value="#{bundle.Next} #{filmController.pagination.pageSize}" rendered="#{filmController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{filmController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListFilmTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListFilmTitle_name}"/>
                            </f:facet>
                            <h:outputText value="#{item.name}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{filmController.prepareView}" value="#{bundle.ListFilmViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{filmController.prepareEdit}" value="#{bundle.ListFilmEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{filmController.destroy}" value="#{bundle.ListFilmDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{filmController.prepareCreate}" value="#{bundle.ListFilmCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListFilmIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
