<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="Realizar reserva : #{reservationController.selected.filmId.name}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <script type="text/javascript">
                function pressed() {
                    var element = document.getElementById('client_name');
                    element.value = 'hola';
                }
            </script>
            <h:form>
                <h:panelGrid columns="3">

                    <h:outputLabel value="Fecha de reserva (yyyy-mm-dd)" for="programmedDate" />
                    <h:inputText id="programmedDate" value="#{reservationController.selected.programmedDate}" >
                        <f:convertDateTime pattern="yyyy-MM-dd" />
                    </h:inputText>
                    <br></br>

                    <h:outputLabel value="Numero de identificación"/>
                    <h:inputText id="client_identification" value="#{reservationController.selected.clientId.identificationnumber}" />

                    <h:commandButton value="Verificar cliente" action = "#{reservationController.findClientByIdentificationNumber}"/>                    

                    <h:outputLabel value="Nombre"/>
                    <h:inputText id="client_name" value="#{reservationController.selected.clientId.name}" />
                    <br></br>
                    <h:outputLabel value="Dirección"/>
                    <h:inputText id="client_address" value="#{reservationController.selected.clientId.address}" />
                    <br></br>
                    <h:outputLabel value="Numero de teléfono"/>
                    <h:inputText id="client_cellphone" value="#{reservationController.selected.clientId.cellphone}" />                     
                    <br></br>
                </h:panelGrid>
                <br />
                <h:commandButton action="#{reservationController.create}" value="Registrar reserva" />     
                <br />
                <br />
                <h:link outcome="/index" value="Volver al catalogo"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
