<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditReservationTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditReservationLabel_id}" for="id" />
                    <h:inputText id="id" value="#{reservationController.selected.id}" title="#{bundle.EditReservationTitle_id}" required="true" requiredMessage="#{bundle.EditReservationRequiredMessage_id}"/>
                    <h:outputLabel value="#{bundle.EditReservationLabel_registerDate}" for="registerDate" />
                    <h:inputText id="registerDate" value="#{reservationController.selected.registerDate}" title="#{bundle.EditReservationTitle_registerDate}" required="true" requiredMessage="#{bundle.EditReservationRequiredMessage_registerDate}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.EditReservationLabel_programmedDate}" for="programmedDate" />
                    <h:inputText id="programmedDate" value="#{reservationController.selected.programmedDate}" title="#{bundle.EditReservationTitle_programmedDate}" >
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.EditReservationLabel_clientId}" for="clientId" />
                    <h:selectOneMenu id="clientId" value="#{reservationController.selected.clientId}" title="#{bundle.EditReservationTitle_clientId}" required="true" requiredMessage="#{bundle.EditReservationRequiredMessage_clientId}">
                        <f:selectItems value="#{clientController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.EditReservationLabel_filmId}" for="filmId" />
                    <h:selectOneMenu id="filmId" value="#{reservationController.selected.filmId}" title="#{bundle.EditReservationTitle_filmId}" required="true" requiredMessage="#{bundle.EditReservationRequiredMessage_filmId}">
                        <f:selectItems value="#{filmController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{reservationController.update}" value="#{bundle.EditReservationSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditReservationViewLink}"/>
                <br />
                <h:commandLink action="#{reservationController.prepareList}" value="#{bundle.EditReservationShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditReservationIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
