<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewReservationTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewReservationLabel_id}"/>
                    <h:outputText value="#{reservationController.selected.id}" title="#{bundle.ViewReservationTitle_id}"/>
                    <h:outputText value="#{bundle.ViewReservationLabel_registerDate}"/>
                    <h:outputText value="#{reservationController.selected.registerDate}" title="#{bundle.ViewReservationTitle_registerDate}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewReservationLabel_programmedDate}"/>
                    <h:outputText value="#{reservationController.selected.programmedDate}" title="#{bundle.ViewReservationTitle_programmedDate}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewReservationLabel_clientId}"/>
                    <h:outputText value="#{reservationController.selected.clientId}" title="#{bundle.ViewReservationTitle_clientId}"/>
                    <h:outputText value="#{bundle.ViewReservationLabel_filmId}"/>
                    <h:outputText value="#{reservationController.selected.filmId}" title="#{bundle.ViewReservationTitle_filmId}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{reservationController.destroyAndView}" value="#{bundle.ViewReservationDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewReservationEditLink}"/>
                <br />
                <h:commandLink action="#{reservationController.prepareCreate}" value="#{bundle.ViewReservationCreateLink}" />
                <br />
                <h:commandLink action="#{reservationController.prepareList}" value="#{bundle.ViewReservationShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewReservationIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
