<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Facelet Title</title>
        <h:outputStylesheet name="css/jsfcrud.css"/>
    </h:head>
    <h:body>
        <center><h1>Bienvenido</h1></center>
        <center><p>Por favor, seleccione la pelicula a reservar</p></center>
        <br />
        <h:form styleClass="jsfcrud_list_form">
            <center>
                <h:dataTable value="#{filmController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="Pelicula"/>
                        </f:facet>
                        <h:outputText value="#{item.name}"/>
                    </h:column>
                    <h:column>
                        <h:link outcome="/reservation/Create" value="Realizar reserva" >
                            <f:param name="file_id" value="#{item.id}"/>
                        </h:link>                    
                    </h:column>
                </h:dataTable>
            </center>
        </h:form>
    </h:body>






</html>

